<div class="title">{{title}}</div>
<form (ngSubmit)="onSubmit()" #payeeForm="ngForm">
    <div style="width: 500px; padding-top: 10px;">

        <div class="rowdiv">
            <div class="labeldiv"><label for="id">Id: </label></div>
            <div class="valuediv">
                <input type="text" pInputText [(ngModel)]="category.id" name="id" [disabled]="editMode" required />
            </div>
        </div>
        <div class="rowdiv">
            <div class="labeldiv"><label for="name">Name: </label></div>
            <div class="valuediv">
                <input type="text" pInputText [(ngModel)]="category.name" name="name" required />
            </div>
        </div>
        <div class="rowdiv">
            <div class="labeldiv"><label for="desc">Description: </label></div>
            <div class="valuediv">
                <input type="text" pInputText [(ngModel)]="category.description" name="desc" />
            </div>
        </div>
        <div class="rowdiv">
            <div class="labeldiv"><label for="budget">Budget: </label></div>
            <div class="valuediv">
                <div class="p-field-with-icon">
                    <i class="pi pi-dollar custom-input-icon"></i>
                    <p-inputnumber [(ngModel)]="category.budget" inputId="budget" mode="decimal" [minFractionDigits]="2"
                        [maxFractionDigits]="2" name="budget" />
                </div>
                <p-button label="Clear" (onClick)="category.budget = null" size="small" severity="info" />
            </div>
        </div>
        <br />
        <div style="text-align: center;">
            <p-button type="submit" [disabled]="!payeeForm.form.valid">Save</p-button>
            <p-button label="Back/Cancel" (click)="back()" severity="contrast" />
        </div>
    </div>
</form>